name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          # Ensure you update the ./GLEAM_VERSION to match this
          gleam-version: "1.13.0"
          rebar3-version: "3"
      - run: ./bin/download-compiler
      - run: gleam deps download
      - run: gleam test
      - run: gleam run
      - run: gleam format --check src test
